<label>Platform:</label>
<select id="platform" name="platform">
    <option value="">-------</option>
    {{#each platformTypes}}
    <option value="{{value}}" {{selected}}>{{label}}</option>
    {{/each}}
</select>
<label>Name:</label>
<input type="text" id="name" name="name" value="{{game.name}}">
<label>Image:</label>
<input type="text" id="image" name="image" value="{{game.image}}" placeholder="http://...">
<label>Price:</label>
<input type="number" id="price" name="price" value="{{game.price}}">
<label>Genre:</label>
<input type="text" id="genre" name="genre" value="{{game.genre}}">
<label>Description:</label>
<textarea id="description" name="description">{{game.description}}</textarea>